.customButton {
  background-color: #f44b86;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.customButton:hover {
  background-color: #c52d62;
  transform: scale(1.05);
}

.customButton:active {
  background-color: #f44b86;
  transform: scale(0.98);
}

.login {
  background-color: #fff0f5 !important;
  color: #f44b86 !important;
}

.sweetCake {
  background-color: #fef0f5 !important;
  color: #d53e73 !important;
}

.blackCake {
  background-color: #eae5f8 !important;
  color: #9074db !important;
}

.pozoleVerde {
  background-color: #cae4f7 !important;
  color: #5788f3 !important;
}

.healthyFood {
  background-color: #b0f1fc !important;
  color: #34a2b6 !important;
}
