.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.blue {
  background-color: blue;
  color: white;
}

.red {
  background-color: rgb(112, 96, 96);
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.color_1 {
  background-color: #4682a9;
  color: white;
}

.button:hover {
  opacity: 0.8;
  transform: scale(0.98);
}
